// .loginbg{
// 	// width: 100%;
// 	// height: 601px;
//     // background: url(../image/loginbg.jpg) no-repeat center;
//     display: none;
// 	.logindiv{
//         width: 1180px;
//         margin: 0 auto;
//         height: 601px;
//         position: fixed;
.login-main{


    .loginbox{
        width: 370px;
        height: 460px;
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        display: none;
        z-index: 999;
        .loginheader{
            background: #ff8a81;
            width: 366px;
            margin: 0 auto;
            h3{
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                float: left;
                font-weight: 400;
            }
            span{
                display: block;
                float: right;
                width: 30px;
                height: 50px;
                line-height: 50px;
                cursor: pointer;
            }

        }
        .loginform{
            width: 366px;
            height: 380px;
            background-color: #fcedea;
            margin: 0 auto;
            padding-top: 26px;
            .textype{
                height: 34px;
                display: block;
                line-height: 34px;
                padding-left: 16px;
                width: 267px;
                margin: 20px auto;
                overflow: hidden;
                border: 0;
            }
            #sub{
                width: 283px;
                text-align: center;
                height: 34px;
                line-height: 34px;
                padding: 0;
                color: #fff;
                background: #ff8a81;
                border: 0;
                margin: 20px auto;
                display: block;
                &:hover{
                    opacity: 0.85;
                }
            }
            .inputremenber{
                width: 283px;
                margin:20px auto;
                .loginradio{
                    width: 13px;
                    height: 13px;
                    margin-right: 10px;
                    display: inline-block;
                    background-color: white;
                    float: left;
                    
                }
                .selected{
                    background: url(../image/login_phase.jpg)no-repeat right top;
                }
                span{
                    color: #666;
                    height: 13px;
                    line-height: 13px;
                    text-align: center;
                    float: left;
                }
                a{
                    float: right;
                }
            }
            .loginfooter{
                width: 250px;
                margin: 40px auto;
                .loginfooter-line{
                    height: 50px;
                    i{
                        display: inline-block;
                        height: 1px;
                        width: 58px;
                        background-color: white;
                        margin: 2px 3px;
                    }
                    span{
                        display: inline-block;
                        color: #9a9494;
                        letter-spacing:2px;
                    }
                }
                .loginfooter-img{
                    a{
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        background:url(../image/qq-btn.jpg) no-repeat right top;
                        margin: 0 6px;
                        opacity: .7;
                        &:hover{
                            opacity: 1;
                        }
                    }
                    a:nth-child(2){
                        background:url(../image/weixin-btn.jpg) no-repeat right top;
                    }
                    a:nth-child(3){
                        background:url(../image/sina-btn.jpg) no-repeat right top;
                    }
                    a:nth-child(4){
                        background:url(../image/zhifubao-btn.jpg) no-repeat right top;
                    }
                }
            
            }
            .item-input{
                position: relative;
                .warning{
                    position: absolute;
                    left: 50px;
                    top: 38px;
                    color: red
                }
            }


        }
    }
    .registerbox{
        width: 370px;			
        height: 460px;
        position: fixed;
        top:0% ;
        bottom: 0;
        left: 0;
        right: 0 ;
        margin: auto;
        display: none;
        z-index: 999;
        .registerheader{
            width: 370px;
            margin: 0 auto;
            background: #ff8a81;
            h3{
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                float: left;
                font-weight: 400;
            }
            .h3right{
                float: right;
                span{
                    float: left;
                    width: 30px;
                    height: 50px;
                    line-height: 50px;
                    cursor: pointer;
                }

            }
            

        }
        .registerform{
            width: 370px;
            height: 362px;
            background-color: #fcedea;
            margin: 0 auto;
            padding-top: 45px;
            .item-input{
                position: relative;
                margin-bottom: 30px;
                .warning{
                    position: absolute;
                    left: 50px;
                    top: 38px;
                    color: red
                }
            }
            .textype{
                height: 34px;
                display: block;
                line-height: 34px;
                padding-left: 16px;
                width: 267px;
                margin: 0px auto;
                overflow: hidden;
                border: 0;
            }
            .buttomdiv{
                height: 34px;
                width: 283px;
                padding-left: 16px;
                margin: 0px auto;
                .identifying-code{
                    width: 122px;
                    color: #b0b0b0;
                    background: white;
                    display: inline-block;
                    padding-left: 16px;
                    border: none;
                    height: 34px;
                    float: left;
                }
                .identifyingbutton{
                    background: #ff8a81;
                    color: #fff;
                    margin-left: 12px;
                    width: 133px;    
                    height: 34px;
                    display: inline-block;
                    border: none;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    float: left;
                    &:hover{
                        opacity: 0.85;
                    }
                }
            }
            #sub{
                width: 283px;
                text-align: center;
                height: 34px;
                line-height: 34px;
                padding: 0;
                color: #fff;
                background: #ff8a81;
                border: 0;
                margin: 0px auto;
                display: block;
                &:hover{
                    opacity: 0.85;
                }
            }
            span{
                height: 25px;
                display: inline-block;
            }
            .inputremenber{
                width: 283px;
                margin:0px auto 20px;
                .loginradio{
                    width: 13px;
                    height: 13px;
                    margin-right: 10px;
                    display: inline-block;
                    background-color: white;
                    float: left;
                    
                }
                .selected{
                    background: url(../image/login_phase.jpg)no-repeat right top;
                }
                span{
                    color: #505050;
                    height: 13px;
                    line-height: 13px;
                    text-align: center;
                    a{
                        text-decoration: underline;
                    }
                }
            }
    }

	}
}		
// 	}
// }

// .login-main{
//     position: fixed;
//     display: none;
//     width: 100%;
//     height: 100%;
//     z-index: 9999;
//     top:0;
//     bottom: 0;
//     left: 0;
//     right: 0
// }




/*banner*/
.banner{
    width: 100%;
    position: relative;
    height: 600px;
    z-index: 0;
    .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
    .swiper-button-next{
        right: 160px !important;
    }  
    .swiper-button-prev{
        left: 160px !important
    }
    .swiper-pagination-bullet{
        height: 14px !important;
        width: 14px !important;
        background-color: black;
        opacity: .3;

    } 
    .swiper-pagination-bullet-active{
        background-color: #ff8a81 !important;
        opacity: 1;

    }
}
.main-wrap{
    
    min-height:550px;
    .main{
        width: 1180px;
        margin: 0 auto;
        .designring{
            height: 445px;
            margin: 45 0px;
            .dr-left{
                height: 445px;
                background: #f7f7f7;
                width: 580px;
                h2{
                    font-size: 26px;
                    margin: 0;
                    width: 580px;
                    text-align: center;
                    margin: 45px 0 27px;
                }
                .dr-leftbanner{
                    width: 352px;
                    height: 190px;
                     margin: 0 auto;
                }
                a{
                    display: block;
                    width: 204px;
                    height: 34px;
                    line-height: 34px;
                    background: #f6827a;
                    color: #fff;
                    text-align: center;
                    margin: 12px auto;
                    &:hover{
                        opacity: 0.85;
                    }
                }
            }
            .designringright{
                width: 578px;
                height: 445px;
                a{
                    display: block;
                    width: 578px;
                    height: 445px;
                    img{
                        width: 578px;
                        height: 445px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .product{
        width: 1180px;
        margin: 0 auto;
        height: 826px;
        h2{
            color: #000;
            font-size: 24px;
            text-align: center;
            width: 1180px;
            line-height: 24px;
            margin: 20px 0;
        }
        .product-content{
            .product-nav{
            background: #feb8ae;
            text-align: center;
            margin-top: 45px;
            height: 37px;
            width: 1180px;
                li{
                    width: 10% ;
                    display: inline-block;
                    height: 37px;
                    line-height: 37px;
                    cursor: pointer;
                    color: #fff;
                    &:hover{
                        color: #000
                    };
                    &.active{
                        color: #000
                    }
                   
                }
            }
            .product-swiper-container{
                margin-top: 20px;
                .left-img{
                    margin-left: 15px;
                }
                .bottom-img{
                    margin-top: 15px;
                }
                li.clearfix{
                    display: none;
                    &.active{
                        display: block
                    }
                }
            }
       
        }
    }
    
}
.recomand-wrap{
    position: relative;
    .recommend{
        width: 1180px;
        margin: 55px auto 0;
        height:226px;
        overflow: hidden;
        h2{
            font-size: 24px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 40px;
            letter-spacing: 2px;
        }
        .recommendbanner{

            ul .swiper-slide{
                width: 240px !important;
                height: 193px !important;
                margin-left: 20px !important;
                
            }
            .swiper-button-black{
                width: 30px !important;
                height: 30px !important;
                z-index: 2 !important;
                background-size: contain;
            }
            .swiper-button-prev{
                left: 30px;
            }
            .swiper-button-next{
                right: 30px;
            }
        }
        
    }
}
.shape-wrap{
    background-color: #f5f5f5;
    height: 177px;
    margin-top: 55px;
    .shape{
        width: 1180px;
        margin:0 auto;
        height: 177px;
        padding-top: 55px;
        a{
            display: inline-block;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #b7b7b7;
            padding: 0 5px;
            i{
                display: block;
                background: url(../image/icon_shape.jpg) no-repeat;
                height: 49px;
                width: 104px;
                margin-bottom: 8px;
            }
        }
        a:nth-child(2) i{
            background-position: -104px 0px;
        }
        a:nth-child(3) i{
            background-position: -208px 0px;
        }
        a:nth-child(4) i{
            background-position: -302px 0px;
        }
        a:nth-child(5) i{
            background-position: -392px 0px;
        }
        a:nth-child(6) i{
            background-position: -489px 0px;
        }
        a:nth-child(7) i{
            background-position: -586px 0px;
        }
        a:nth-child(8) i{
            background-position: -674px 0px;
        }
        a:nth-child(9) i{
            background-position: -775px 0px;
        }
        a:nth-child(10) i{
            background-position: -882px 0px;
        }
    }

}
.productstory{
    width: 1180px;
    margin:55px auto 0;
    a{
        display: block;
        margin-bottom: 15px;

    }
}
.experience-center{
    width: 1180px;
    margin:25px auto 0;
    .line{
        background-color: black;
        margin: 10px 0;
        height: 1px;
    }
    p{
        margin: 13px 40px;
        line-height: 25px;
        a{
            display: inline-block;
            padding:0 18px;
            color: black;
            &:hover{
                color: #ff8a81;
            } 
        }
    }
    .experience-centerbanner{
        width: 700px;
        height: 530px;
        position: relative;

    }
    .experience-centerright{
        width: 480px;
        height: 530px;
        background-color: #fdeaea;
        .centerdata{
            text-align: center;
            h6{
                width: 100%;
                font-size: 28px;
                margin-top: 106px;
                text-align: center;
                font-weight: 400;
            }
            i{
                display: block;
                width: 59px;
                border-top: 1px solid #000;
                margin: 38px auto 22px;
            }
            
        }
        .centerinput{
            width: 300px;
            height: 38px;
            margin: 30px auto;
            position: relative;
           .txt{
            display: block;
            background-color: white;
            border: 0;
            width: 300px;
            height: 38px;
            line-height: 36px;
            color: #b7b7b7;
            padding-left: 10px;
            font-family: Arial, "宋体";
            }
            a{
             display: block;
             position: absolute;
             height: 38px;
             width: 50px;
             line-height: 38px;
             top:0;
             right: 0;
             text-align: center;
             display: none;
            } 
        }
        
         .sub{
            width: 142px;
            height: 32px;
            line-height: 32px;
            display: block;
            margin: 0 auto;
            text-align: center;
            background: #f6827a;
            color: #fff;
            border: 0;
            font-family: Arial, "宋体";
         }
    }

}
.news{
    margin: 50px 0;
    .newsbox{
        width: 660px;
        .line{
            height: 1px;
            background-color: black;
            margin-top: 50px;
        }
        ul{
            width: 310px;
            margin-left: 20px;
            h4{
                font-size: 12px;
                color: #000;
                padding: 27px 0 19px;
                font-weight: 400;
            }
            a{
                color: #333;
                font-size: 12px;
                line-height: 28px;
                &:hover{
                    color: #ff8a81;
                }
            }
            li:last-child{
                margin: 15px 0 -12px 0;
            }
        }
    }
    .newsbanner{
        margin-top: 50px;
        width: 480px;
        height: 320px;
        position: relative;
    }
}



