/*banner*/
.banner{
    width: 100%;
    position: relative;
    height: 600px;
    z-index: 0;
    .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
    .swiper-button-next{
        right: 160px !important;
    }  
    .swiper-button-prev{
        left: 160px !important
    }
    .swiper-pagination-bullet{
        height: 14px !important;
        width: 14px !important;

    } 
    .swiper-pagination-bullet-active{
        background-color: rgb(255,138,129) !important

    }
}
.main-wrap{
    background-color: red;
    min-height:550px;
}


