/*banner*/
.banner{
    width: 100%;
    position: relative;
    height: 600px;
    z-index: 0;
    .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
    .swiper-button-next{
        right: 160px !important;
    }  
    .swiper-button-prev{
        left: 160px !important
    }
    .swiper-pagination-bullet{
        height: 14px !important;
        width: 14px !important;
        background-color: black;
        opacity: .3;

    } 
    .swiper-pagination-bullet-active{
        background-color: #ff8a81 !important;
        opacity: 1;

    }
}
.main-wrap{
    
    min-height:550px;
    .main{
        width: 1180px;
        margin: 0 auto;
        .designring{
            height: 445px;
            margin: 45 0px;
            .dr-left{
                height: 445px;
                background: #f7f7f7;
                width: 580px;
                h2{
                    font-size: 26px;
                    margin: 0;
                    width: 580px;
                    text-align: center;
                    margin: 45px 0 27px;
                }
                .dr-leftbanner{
                    width: 352px;
                    height: 190px;
                     margin: 0 auto;
                }
                a{
                    display: block;
                    width: 204px;
                    height: 34px;
                    line-height: 34px;
                    background: #f6827a;
                    color: #fff;
                    text-align: center;
                    margin: 12px auto;
                    &:hover{
                        opacity: 0.85;
                    }
                }
            }
            .designringright{
                width: 578px;
                height: 445px;
                a{
                    display: block;
                    width: 578px;
                    height: 445px;
                    img{
                        width: 578px;
                        height: 445px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .product{
        width: 1180px;
        margin: 0 auto;
        height: 826px;
        h2{
            color: #000;
            font-size: 24px;
            text-align: center;
            width: 1180px;
            line-height: 24px;
            margin: 20px 0;
        }
        .product-content{
            .product-nav{
            background: #feb8ae;
            text-align: center;
            margin-top: 45px;
            height: 37px;
            width: 1180px;
                li{
                    width: 10% ;
                    display: inline-block;
                    height: 37px;
                    line-height: 37px;
                    cursor: pointer;
                    color: #fff;
                    &:hover{
                        color: #000
                    };
                    &.active{
                        color: #000
                    }
                   
                }
            }
            .product-swiper-container{
                margin-top: 20px;
                .left-img{
                    margin-left: 15px;
                }
                .bottom-img{
                    margin-top: 15px;
                }
                li.clearfix{
                    display: none;
                    &.active{
                        display: block
                    }
                }
            }
       
        }
    }
    
}
.recomand-wrap{
    position: relative;
    .recommend{
        width: 1180px;
        margin: 55px auto 0;
        height:226px;
        overflow: hidden;
        h2{
            font-size: 24px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 40px;
            letter-spacing: 2px;
        }
        .recommendbanner{

            ul .swiper-slide{
                width: 240px !important;
                height: 193px !important;
                margin-left: 20px !important;
                
            }
            .swiper-button-black{
                width: 30px !important;
                height: 30px !important;
                z-index: 2 !important;
                background-size: contain;
            }
            .swiper-button-prev{
                left: 30px;
            }
            .swiper-button-next{
                right: 30px;
            }
        }
        
    }
}
.shape-wrap{
    background-color: #f5f5f5;
    height: 177px;
    margin-top: 55px;
    .shape{
        width: 1180px;
        margin:0 auto;
        height: 177px;
        padding-top: 55px;
        a{
            display: inline-block;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #b7b7b7;
            padding: 0 5px;
            i{
                display: block;
                background: url(../image/icon_shape.jpg) no-repeat;
                height: 49px;
                width: 104px;
                margin-bottom: 8px;
            }
        }
    }

}



