
$fontSize: 12px;
$f8e3df:#f8e3df;
.top-wrap{
    background-color: $f8e3df;
    height: 34px;
    .top{
        background-color: $f8e3df;
        height: 34px;
        width: 1180px;
        margin: 0 auto;

        .welcome{
            float: left;
            a{
                width: auto;
                height: 34px;
                line-height: 34px;
                display: block;
                float: left;
                color: #333;
                margin: 0 10px 0 10px;
            }
 
        }
        .topnav{
            float:right;
            li{
                height: 34px;
                float: left;
                margin-left: 12px;
                padding-left: 10px;
                position: relative;
                .top-bag{
                    float: left;
                    width: 12px;
                    height: 16px;
                    margin-top: 9px;
                    margin-right: 10px;
                }
                a{
                    width: 58px;
                    height: 32px;
                    display: block;
                    line-height: 32px;
                    color: #333;
                    float: left;
                    .shop-count{
                        width: 20px;
                        line-height: 32px;
                        text-align: center;
                        display: inline-block;
                        font-size: 13px;
                        color: #ff8a81;
                    }
                }
            .topshow{
                height: 32px;               
                position: relative;
                border: 1px solid transparent; 
                z-index: 10;
                padding: 0 8px;
                
            }
            .tophide{
                display: none;
                position: absolute;
                top: 32px;
                left: 10px;
                overflow: hidden;
                padding-bottom: 0px;
                border: 1px solid #f8a89c;
                background-color: #FFF;
                z-index: 9;
            }
            .topcar{
                width: 240px;
                min-height: 59px;
            } 
            .mycart{
                width: 79px;
                a{
                    width: 79px;
                    text-align: center;
                }   
            } 
            .phoneweb{
                left: -148px;
                width: 232px;
            } 
            }
        }
    }
}
/*search :*/
.search-wrap{
    background-color: #fbf2f1;
    height: 95px;
    .search{
        background-color: #fbf2f1;
        height: 95px;
        width: 1180px;
        margin: 0 auto;
        img{
            float: left;
            margin-left: 35px;
            margin-top: 28px;
        } 
        .searchform{
            float: right;
            height: 60px;
            margin-top: 31px;
            .searchtxt{
                width: 146px;
                height: 32px;
                color: #999;
                line-height: 16px;
                padding: 7px 0 7px 10px;
                margin: 0;
                float: left;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right:0;
            }
            .searchsub{
                width: 40px;
                height: 32px;
                float: left;
                overflow: hidden;
                background: url(../image/search.jpg) no-repeat left top;
                line-height: 32px;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left:0;
               
            } 
            a{
                width: 78px;
                height: 30px;
                display: block;
                margin-left: 11px;
                color: #666;
                border: 1px solid #ccc;
                line-height: 30px;
                background: #fff;
                float:left;
                text-align: center;
                &:hover{
                    color: #ff8a81;

                }
            }
        }
        
    }
}
/*nav:*/
.nav-wrap{
    width: 100%;
    height: 33px;
    background: #909090;
    .nav{
        height: 33px;
        background: #909090;
        width: 1180px;
        margin: 0 auto; 
        .navleft{
            float: left;
            li{
                float: left;
                a{
                    color: #fff;
                    font-size: 13px;
                    line-height: 33px;
                    width: 97px;
                    text-align: center;
                    display: block;
                }
            }
        }
        .navright{
            float: right;
            li{
                float: left;
                a{
                    color: #fff;
                    font-size: 13px;
                    line-height: 33px;
                    width: 97px;
                    text-align: center;
                    display: block;
                }

            }
        } 
    }
}
/*aside*/
.aside{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    a{
      display: block;
      width: 67px;
      height: 67px; 
    }
    a:nth-child(1){
        background: url(../image/1.gif) ;
        position: relative;
        &:before{
            background: url(../image/img1.png) ;
            width: 88px;
            height: 95px;
            display: block;
            position: absolute;
            right: 0;
            top: -94px;
            
        }
    }

}