
$fontSize: 12px;
$f8e3df:#f8e3df;
.top-wrap{
    background-color: $f8e3df;
    height: 34px;
    .top{
        background-color: $f8e3df;
        height: 34px;
        width: 1180px;
        margin: 0 auto;

        .welcome{
            float: left;
            a{
                width: auto;
                height: 34px;
                line-height: 34px;
                display: block;
                float: left;
                color: #333;
                margin: 0 10px 0 10px;
            }
 
        }
        .topnav{
            float:right;
            li{
                height: 34px;
                float: left;
                margin-left: 12px;
                padding-left: 10px;
                position: relative;
                .top-bag{
                    float: left;
                    width: 12px;
                    height: 16px;
                    margin-top: 9px;
                    margin-right: 10px;
                }
                a{
                    width: 58px;
                    height: 32px;
                    display: block;
                    line-height: 32px;
                    color: #333;
                    float: left;
                    .shop-count{
                        width: 20px;
                        line-height: 32px;
                        text-align: center;
                        display: inline-block;
                        font-size: 13px;
                        color: #ff8a81;
                    }
                }
            .topshow{
                height: 32px;               
                position: relative;
                border: 1px solid transparent; 
                z-index: 10;
                padding: 0 8px;
                
            }
            .tophide{
                display: none;
                position: absolute;
                top: 32px;
                left: 10px;
                overflow: hidden;
                padding-bottom: 0px;
                border: 1px solid #f8a89c;
                background-color: #FFF;
                z-index: 9;
            }
            .topcar{
                width: 240px;
                min-height: 59px;
            } 
            .mycart{
                width: 79px;
                a{
                    width: 79px;
                    text-align: center;
                }   
            } 
            .phoneweb{
                left: -148px;
                width: 232px;
            } 
            }
        }
    }
}
/*search :*/
.search-wrap{
    background-color: #fbf2f1;
    height: 95px;
    .search{
        background-color: #fbf2f1;
        height: 95px;
        width: 1180px;
        margin: 0 auto;
        img{
            float: left;
            margin-left: 35px;
            margin-top: 28px;
        } 
        .searchform{
            float: right;
            height: 60px;
            margin-top: 31px;
            .searchtxt{
                width: 146px;
                height: 32px;
                color: #999;
                line-height: 16px;
                padding: 7px 0 7px 10px;
                margin: 0;
                float: left;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right:0;
            }
            .searchsub{
                width: 40px;
                height: 32px;
                float: left;
                overflow: hidden;
                background: url(../image/search.jpg) no-repeat left top;
                line-height: 32px;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left:0;
               
            } 
            a{
                width: 78px;
                height: 30px;
                display: block;
                margin-left: 11px;
                color: #666;
                border: 1px solid #ccc;
                line-height: 30px;
                background: #fff;
                float:left;
                text-align: center;
                &:hover{
                    color: #ff8a81;

                }
            }
        }
        
    }
}
/*nav:*/
.nav-wrap{
    width: 100%;
    height: 33px;
    background: #909090;
    .nav{
        height: 33px;
        background: #909090;
        width: 1180px;
        margin: 0 auto; 
        position: relative;
        .navleft{
            float: left;            
            li{
                float: left;
                .navindex{
                        background-color: #fdb2a4
                    }
                a{
                    color: #fff;
                    font-size: 13px;
                    line-height: 33px;
                    width: 97px;
                    text-align: center;
                    display: block;
                    &:hover{
                        background-color: #fdb2a4
                    }
                    
                }             
            }


        }
        .navhide{
            display: none;
            position: absolute;
            top:33px;
            left: 0px;
            width: 1180px;
            height: 305px;
            background: white;
            ul{
                float: left;
                width: 150px;
                margin-top: 30px; 
                 h2{
                    color: #000;
                    font-size: 24px;  
                }
                li{
                    float: left; 
                    width: 150px;
                    margin-left: 30px;    
                                   
                    a{
                        color: #666;
                        line-height: 26px;
                        letter-spacing: 1px;
                        display: inline-block;
                    }
                }
            }
            ul:nth-child(2){
                margin-top: 84px;
                            }
            ul:nth-child(3){
                padding-top: 50px;
                border-left: 1px solid rgb(229, 229, 229);
                height: 190px;

            }
            div{
                float: right;
                margin-top: 30px;
                margin-right: 20px;
            }
        }
        .navright{
            float: right;
            li{
                float: left;
                a{
                    color: #fff;
                    font-size: 13px;
                    line-height: 33px;
                    width: 97px;
                    text-align: center;
                    display: block;
                    &:hover{
                        background-color: #fdb2a4
                    }
                }
                

            }
        } 
    }
}
/*aside*/
.aside{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    a{
      display: block;
      width: 67px;
      height: 67px; 
    }
    a:nth-child(1){
        background: url(../image/1.gif) ;
        position: relative;
        &:hover{
            background: url(../image/1.2.gif);
        }
        &:before{
            content: '';
            background: url(../image/img1.png) ;
            width: 88px;
            height: 95px;
            display: block;
            position: absolute;
            right: 0;
            top: -94px;            
        }
        
    }
    a:nth-child(2){
        background: url(../image/2-1.jpg);
        &:hover{
            background: url(../image/2.jpg);
        }
    }
    a:nth-child(3){
        background: url(../image/3-1.jpg);
        &:hover{
            background: url(../image/3.jpg);
        }
    }
    a:nth-child(4){
        background: url(../image/4.1.jpg);
        &:hover{
            background: url(../image/4.jpg);
        }
    }
    a:nth-child(5){
        background: url(../image/5.jpg);
        position: relative;
        div{
            position: absolute;
            left: -207px;
            z-index: 1;
            bottom: 0;
            background: url(../image/code.jpg);
            width: 206px;
            height: 135px;
            display: none;
        }
        &:hover div{
           display: block;
        }
    }

}
/*gotop回到顶部*/
.gotop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    background: url(../image/gotop.jpg);
    background-position: 0px -40px;
    cursor: pointer;
    &:hover{
        background-position: 40px 0px;
    }
    display: none;
}
/*footer*/
.footer-wrap{
    height: 550px;
    background-color: #fdf2ec;
    .footer{
        width: 1180px;
        height: 550px;
        margin: 0 auto;
        background-color: #fdf2ec;
        .footertop{
            width: 100%;
            height: 66px;
            background:url(../image/footertop.jpg);
            a{
                height: 66px;
                display: inline-block;
            }
            a:nth-child(1){
                width: 201px;
            }
            a:nth-child(2){
                width: 195px;
            }
            a:nth-child(3){
              width: 211px;
            }
            a:nth-child(4){
                width:  197px;
            }
            a:nth-child(5){
                width:  197px;
            }
            a:nth-child(6){
                width: 162px;
            }
            
        }
        .footermain{
            div {
                float: left;
                margin-right: 82px;
                a{
                    width: 85px;
                    height: 90px;
                    float: left;
                    margin-left: 30px;
                    margin-top: 44px;
                    display: block;
                    background:  url(../image/footlogo.jpg)no-repeat;
                }
            }
            ul{
                float: left;
                width: 145px;
                margin-top: 37px;
                li a{
                    width: 96px;
                    line-height: 22px;
                    color: #999999;
                    display: block;
                    text-align: left;
                }
                li:first-child a{
                    width: 96px;
                    height: 23px;
                    display: block;
                    color: #666666;
                    font-size: 12px;
                    text-align: left;
                }

            }
            img{
                width: 214px;
                height: 120px;
                float: right;
                margin-top: 30px;
                margin-left: 6px;
            }
            
        }
        .footcall{
            padding: 21px 0;
            text-align: center;
            a{
               margin-left: 46px;
                background: url(../image/footcall.jpg);
                width: 488px;
                height: 60px;
                display: inline-block; 
            }
            
        }
        .coopright{
            text-align: center;
            a,span,p{
                line-height: 33px;
                color: #999;
            }
            span{
                padding: 0 8px 0 10px;
            }
        }
        .footimg{
            text-align: center;
            padding-top: 13px;
            img{
                height: 35px;
            }
        }
    }
}